.bgimg-1, .bgimg-2, .bgimg-3 ,.bgimg-4,.bgimg-5,.bgimg-6{
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.bgimg-1 {
  background-image: url("../../../assets/main.jpg");
  min-height: 100vh;
}


 .bgimg-2 {
  background-image: url("../../../assets/main1.jpg");
  min-height: 400px;
  opacity: 0.8;

}

.bgimg-3 {
  background-image: url("../../../assets/main5.jpg");
  min-height: 400px;
  opacity: 0.8;
}

.bgimg-4{
  background-image: url("../../../assets/main4.jpg");
  min-height: 400px;
  opacity: 0.8;
}

.bgimg-5{
  background-image: url("../../../assets/main3.jpg");
  min-height: 400px;
  opacity: 0.8;
}

.bgimg-6{
  background-image: url("../../../assets/main2.jpg");
  min-height: 400px;
  opacity: 0.8;
}

.caption-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


}

.caption {
  font-size: 25px;
  text-transform: capitalize;
  padding: 10px;
  width: fit-content;
  background-color: #111;
  color: rgba(230, 78, 62, 0.9);
  border-radius: 8px;


}

.writer{
  border-radius: 8px;
  font-size: 20px;
  background-color: #111;
  padding: 8px;
  color: #a5a5a5;
  width: fit-content;

}



h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
/* @media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
  }

} */
