<app-header></app-header>

<div class="bgimg-1" id='home'>


</div>


<div style="color: #777;background-color:white;padding:50px 80px;">
  <h3 style="text-align:center;">Parallax Demo</h3>
  <p>Parallax scrolling is a web site trend where the background content is moved at a different speed than the foreground content while scrolling. Nascetur per nec posuere turpis, lectus nec libero turpis nunc at, sed posuere mollis ullamcorper libero ante lectus, blandit pellentesque a, magna turpis est sapien duis blandit dignissim. Viverra interdum mi magna mi, morbi sociis. Condimentum dui ipsum consequat morbi, curabitur aliquam pede, nullam vitae eu placerat eget et vehicula. Varius quisque non molestie dolor, nunc nisl dapibus vestibulum at, sodales tincidunt mauris ullamcorper, dapibus pulvinar, in in neque risus odio. Accumsan fringilla vulputate at quibusdam sociis eleifend, aenean maecenas vulputate, non id vehicula lorem mattis, ratione interdum sociis ornare. Suscipit proin magna cras vel, non sit platea sit, maecenas ante augue etiam maecenas, porta porttitor placerat leo.</p>
</div>




<div class="bgimg-2">
  <div class="caption-container">
    <p class="caption"><q>You don't take photograph you make it.</q></p>
    <blockquote class='writer'><i>- Ansel Adams</i></blockquote>
  </div>
</div>

<div id="events" >
  <app-events></app-events>

</div>



<div class="bgimg-3">
  <div class="caption-container">
    <p class="caption"><q>There is one thing the photo must contain – the humanity of the moment.</q></p>
    <blockquote class='writer'><i>- Robert Frank</i></blockquote>
  </div>
</div>

<div id="mentors" >
  <app-mentors></app-mentors>
</div>


<div class="bgimg-4">
  <div class="caption-container">
    <p class="caption"><q>A portrait is not made in the camera but on either side of it.</q></p>
    <blockquote class='writer'><i>- Edward Steichen</i></blockquote>
  </div>
</div>


<div id="workshops" >

<app-workshops></app-workshops>

</div>



<div class="bgimg-5">
  <div class="caption-container">
    <p class="caption"><q>we are making photographs to understand what our mean to us.</q></p>
    <blockquote class='writer'><i>- Ralph Hattersley</i></blockquote>
  </div>
</div>

<div id="goals" >
<app-goals></app-goals>
</div>




<div class="bgimg-6">
  <div class="caption-container">
    <p class="caption"><q>A good snapshot keeps a moment that's gone from running away.</q></p>
    <blockquote class='writer'><i>– Eudora Welty</i></blockquote>
  </div>
</div>

<div id="pom" >
<app-pom></app-pom>
</div>



<div class="bgimg-7">
  <div class="caption-container">
    <p class="caption"><q>A good snapshot keeps a moment that's gone from running away.</q></p>
    <blockquote class='writer'><i>– Eudora Welty</i></blockquote>
  </div>
</div>

<div id="contactus" >
  <app-contactus></app-contactus>

</div>



<!-- <div class="bgimg-8">
  <div class="caption-container">
    <p class="caption"><q>A good snapshot keeps a moment that's gone from running away.</q></p>
    <blockquote class='writer'><i>– Eudora Welty</i></blockquote>
  </div>
</div>

<div id="developers" >
  <app-developers></app-developers>
</div>
 -->



