<section id="contactus">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5  align-items-stretch aos-init aos-animate">
        <div class="allinfo">
          <div class="info">
            <div class="contacticon">
              <span class="material-icons">location_on</span>
            </div>

            <div class="txt">
              <span class="txt1">
                Address
                </span>
              <span class="txt2">Indian Institute of Technology Jammu<br>
            Jagti, NH-44 , PO Nagrota<br>
            Jammu - 181 221 J&K,  India
                </span>

            </div>



          </div>
          <div class="info">
            <div class="contacticon">
              <span class="material-icons">
                call
                </span>

            </div>
            <div class="txt">
              <span class="txt1">
                Contact
                </span>
              <span class="txt2">
                +919622967011
                </span>

            </div>

          </div>

          <div class="info">
            <div class="contacticon">
              <span class="material-icons">
                email
                </span>

            </div>
            <div class="txt">
              <span class="txt1">
                Address
                </span>
              <span class="txt2">
                2018uch0015@iitjammu.ac.in
                </span>

            </div>



          </div>


        </div>

      </div>
      <div class="col-lg-6 offset-lg-1 mt-5 mt-lg-0 d-flex align-items-stretch aos-init aos-animate">
        <div class="contactform1 form-group">
          <span class="contacttitle"> Reach Us Here</span>
          <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">

            <div class="wrap-input100 form-group" data-validate="Name is required">
              <label class="label-input100" for="name">Full name</label>
              <input id="name" class="input100 form-control" type="text" name="name" ngModel placeholder="Enter your name...">
              <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100  form-group" data-validate="email is required">
              <label class="label-input100" for="email">Email</label>
              <input id="email" class="input100 form-control" type="email" name="name" ngModel placeholder="Enter your email...">
              <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 form-group" data-validate="This field is required">
              <label class="label-input100" for="phoneno">Contact Number</label>
              <input id="phoneno" class="input100 form-control" type="tel" ngModel name="phoneno" placeholder="Enter your contact number...">
              <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input form-group" data-validate="Name is required">
              <label class="label-input100" for="message">Message</label>
              <textarea cols="10" id="message" class="input100 form-control" type="text" ngModel name="message" placeholder="Enter your message..."></textarea>
              <span class="focus-input100"></span>

            </div>
            <input class="btn btn-dark" type="submit" value="Submit">

          </form>






        </div>



      </div>

    </div>

  </div>




  </section>
