<div class='complete-events'>

  <div data-aos='fade-right' data-aos-delay='200' class="col-md-12 events-header text-center">
    <h2>Events</h2>
    <h3 class="gray">Meet the people who teach awesome stuffs</h3>
  </div>

  <div class="container" data-aos='fade-up' data-aos-delay='200'>
    <div class='row'>
      <div class='col'>
        <figure>
          <div class="date"><span class="card-date-day">20</span><span class="card-date-month">APR</span></div>
          <figcaption>
            <h4> <span>The arsonist</span></h4>
            <p>The magic Indian is a mysterious spiritual force, and we're going to Cathedral Rock, and that's the vortex
              of the heart.</p>
          </figcaption>
          <div class="card__inner">
            <h5>Event_head : prashanth</h5>
            <h5>Event_winners</h5>
            <!-- <p>
              First:
              <br>Second:
              <br>Third:
            </p> -->
          </div>
        </figure>

      </div>


      <div class='col'>
        <figure>
          <div class="date"><span class="card-date-day">20</span><span class="card-date-month">APR</span></div>
          <figcaption>
            <h4> <span>The arsonist</span></h4>
            <p>The magic Indian is a mysterious spiritual force, and we're going to Cathedral Rock, and that's the vortex
              of the heart.</p>
          </figcaption>
          <div class="card__inner">
            <h5>Event_head : prashanth</h5>
            <h5>Event_winners</h5>
            <!-- <p>
              First:
              <br>Second:
              <br>Third:
            </p> -->
          </div>
        </figure>

      </div>



      <div class='col'>
        <figure>
          <div class="date"><span class="card-date-day">20</span><span class="card-date-month">APR</span></div>
          <figcaption>
            <h4> <span>The arsonist</span></h4>
            <p>The magic Indian is a mysterious spiritual force, and we're going to Cathedral Rock, and that's the vortex
              of the heart.</p>
          </figcaption>
          <div class="card__inner">
            <h5>Event_head : prashanth</h5>
            <h5>Event_winners</h5>
            <!-- <p>
              First:
              <br>Second:
              <br>Third:
            </p> -->
          </div>
        </figure>

      </div>












    </div>

</div>
