.complete-events{
  padding-top: 50px;
  padding-bottom: 80px;
  background-color: black
}

.gray {
  color: #a5a5a5;
}


h2,h3{
  margin: 0 0 20px 0;
  text-transform: none;
  color: rgba(230, 78, 62, 0.9);
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.5;
}


figure {
  margin: 8px auto;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 290px;
  height: 395px;
  padding: 20px;
  background-image: url("http://40.media.tumblr.com/8a47b1587c6294bb1e4e009f2cb3460a/tumblr_nhim06I2Lv1rh6gk6o1_500.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: all 0.5s ease-in;
  overflow: hidden;
}



.card__inner {
  /* background-color: rgba(230, 78, 62, 0.9); */
  background-color: #a5a5a5;
  color: black;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
  opacity: 0;
  padding: 2rem 1.3rem 2rem 2rem;
  transition: all 0.4s ease 0s;
}

/* On hovering card opacity of
  content must be 1*/
figure:hover .card__inner {
  opacity: 1;
}

/* General property for heading
  and paragraph*/
.card__inner h2 {
  margin-top: 1rem;
}
.card__inner p {
  overflow-y: scroll;
  height: 87%;
  padding-right: 1rem;
  font-weight: 200;
  line-height: 2.5rem;
  margin-top: 1.5rem;
}

figure:hover .date {
  bottom: -59px;
}
figure:hover figcaption {
  transform: translateY(-110%);
}
figure .date {
  position: absolute;
  bottom: 0;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  background-color: rgb(34, 38, 41);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.7);
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}
figure .date span {
  color: white;
  line-height: 1;
}
figure .date span:first-child {
  font-family: "Source Code Pro", sans-serif;
  font-size: 20px;
  font-weight: 900;
}
figure .date span:last-child {
  font-size: 14px;
  font-weight: 400;
}
figure figcaption {
  color: white;
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  z-index: 1;

}
figure figcaption h4 {
  margin: 0 0 5px;
  font-family: Helvetica;
  letter-spacing: 0.1em;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.35;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.7);
}
figure figcaption h4 > span {
  background-color: rgb(34, 38, 41);
  padding: 5px;
  border-radius: 5px;
}
figure figcaption p {
  font-weight: 500;
  margin: 0;
  line-height: 1.5;
}
