<div class='complete-events'>

  <div data-aos='fade-right' data-aos-delay='200' class="col-md-12 text-center aos-init aos-animate">
    <h2>Events</h2>
    <h3 class="gray">Meet the people who teach awesome stuffs</h3>
  </div>

  <div class="container aos-init aos-animate"  data-aos='fade-up' data-aos-delay='200' >
    <div class='row' >
      <div class='col'>
        <figure >
          <div class="date"><span class="card-date-day">20</span><span class="card-date-month">APR</span></div>
          <figcaption>
            <h4> <span>Happy Diwali</span></h4>

          </figcaption>
          <div class="card__inner">
            <h5>Event Head- Avinash Kotyada</h5>
            <h5>Winners- avinash/dheeraj</h5>
            <p>how are you bro , this what happens believe now</p>
          </div>
        </figure>

      </div>

      <div class='col'>
        <figure >
          <div class="date"><span class="card-date-day">20</span><span class="card-date-month">APR</span></div>
          <figcaption>
            <h4> <span>Happy Diwali</span></h4>

          </figcaption>
          <div class="card__inner">
            <h5>Event Head- Avinash Kotyada</h5>
            <h5>Winners- avinash/dheeraj</h5>
            <p>how are you bro , this what happens believe now</p>
          </div>
        </figure>

      </div>




      <div class='col'>
        <figure >
          <div class="date"><span class="card-date-day">20</span><span class="card-date-month">APR</span></div>
          <figcaption>
            <h4> <span>Happy Diwali</span></h4>

          </figcaption>
          <div class="card__inner">
            <h5>Event Head- Avinash Kotyada</h5>
            <h5>Winners- avinash/dheeraj</h5>
            <p>how are you bro , this what happens believe now</p>
          </div>
        </figure>

      </div>












    </div>

</div>
