
<div class="complete-developers">

  <div class="col-md-12 text-center aos-init aos-animate" data-aos='fade-right' data-aos-delay='200'>
    <h2>Developers</h2>
    <h3 class="caption gray">Meet the people who teach awesome stuffs</h3>
  </div>

  <div class='container aos-init aos-animate'>
    <div class="row">
      <div class="col"data-aos='flip-right' data-aos-delay="200" data-aos-duration="600">
      <div class='team-member text-center'>
          <img src="https://www.w3schools.com/howto/img_avatar.png">
          <p>Avinash Kotyada</p>

        </div>
      </div>

      <div class="col" data-aos='flip-right' data-aos-delay="200" data-aos-duration="600">
        <div class='team-member text-center'>
            <img src="https://www.w3schools.com/howto/img_avatar.png">
            <p>Dheeraj v</p>
          </div>
        </div>
        <div class="col" data-aos='flip-right' data-aos-delay="200" data-aos-duration="600">
          <div class='team-member text-center'>
              <img src="https://www.w3schools.com/howto/img_avatar.png">
              <p>Neeha Reddy</p>

            </div>
          </div>
          <div class="col" data-aos='flip-right' data-aos-delay="200" data-aos-duration="600">
            <div class='team-member text-center'>
                <img src="https://www.w3schools.com/howto/img_avatar.png">
                <p>Suraj Teetla</p>

              </div>
            </div>
            <div class="col" data-aos='flip-right' data-aos-delay="200" data-aos-duration="600">
              <div class='team-member text-center'>
                  <img src="https://www.w3schools.com/howto/img_avatar.png">
                  <p>Sai Vishnu</p>

                </div>
              </div>
    </div>
  </div>
</div>


